In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
data=pd.read_csv('zomato.csv', encoding='latin-1')
data.head(3)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
Restaurant ID           9551 non-null int64
Restaurant Name         9551 non-null object
Country Code            9551 non-null int64
City                    9551 non-null object
Address                 9551 non-null object
Locality                9551 non-null object
Locality Verbose        9551 non-null object
Longitude               9551 non-null float64
Latitude                9551 non-null float64
Cuisines                9542 non-null object
Average Cost for two    9551 non-null int64
Currency                9551 non-null object
Has Table booking       9551 non-null object
Has Online delivery     9551 non-null object
Is delivering now       9551 non-null object
Switch to order menu    9551 non-null object
Price range             9551 non-null int64
Aggregate rating        9551 non-null float64
Rating color            9551 non-null object
Rating text             9551 non-null object
Votes                   9551 non-null int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [33]:
data.dropna(inplace=True) # dropping NA cells

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9542 entries, 0 to 9550
Data columns (total 21 columns):
Restaurant ID           9542 non-null int64
Restaurant Name         9542 non-null object
Country Code            9542 non-null int64
City                    9542 non-null object
Address                 9542 non-null object
Locality                9542 non-null object
Locality Verbose        9542 non-null object
Longitude               9542 non-null float64
Latitude                9542 non-null float64
Cuisines                9542 non-null object
Average Cost for two    9542 non-null int64
Currency                9542 non-null object
Has Table booking       9542 non-null object
Has Online delivery     9542 non-null object
Is delivering now       9542 non-null object
Switch to order menu    9542 non-null object
Price range             9542 non-null int64
Aggregate rating        9542 non-null float64
Rating color            9542 non-null object
Rating text             9542 non-null object
Votes                   9542 non-null int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.6+ MB

In [35]:
data['Restaurant Name'].value_counts()

Cafe Coffee Day             83
Domino's Pizza              79
Subway                      63
Green Chick Chop            51
McDonald's                  48
                            ..
Quality Restaurant           1
Hot Breads                   1
Sahi Darbar                  1
Latitude - Mosaic Hotels     1
Anna Ka Dosa                 1
Name: Restaurant Name, Length: 7437, dtype: int64

In [36]:
data['Switch to order menu'].value_counts

<bound method IndexOpsMixin.value_counts of 0       No
1       No
2       No
3       No
4       No
        ..
9546    No
9547    No
9548    No
9549    No
9550    No
Name: Switch to order menu, Length: 9542, dtype: object>

In [37]:
data.drop(columns=['Restaurant ID','Is delivering now','Switch to order menu'],inplace=True)

In [38]:
data.head(3)

,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes
0,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,3,4.8,Dark Green,Excellent,314
1,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,1200,Botswana Pula(P),Yes,No,3,4.5,Dark Green,Excellent,591
2,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),Yes,No,4,4.4,Green,Very Good,270

In [39]:
data.columns

Index(['Restaurant Name', 'Country Code', 'City', 'Address', 'Locality',
       'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating',
       'Rating color', 'Rating text', 'Votes'],
      dtype='object')

In [40]:
data['Country Code'].nunique()

15

In [41]:
data['Country Code'].value_counts()

1      8652
216     425
215      80
214      60
30       60
189      60
148      40
208      34
14       24
162      22
94       21
191      20
166      20
184      20
37        4
Name: Country Code, dtype: int64

In [42]:
data=data[data['Country Code']==1]
data

,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes
624,Jahanpanah,1,Agra,"E 23, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",78.011544,27.161661,"North Indian, Mughlai",850,Indian Rupees(Rs.),No,No,3,3.9,Yellow,Good,140
625,Rangrezz Restaurant,1,Agra,"E-20, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",0.000000,0.000000,"North Indian, Mughlai",700,Indian Rupees(Rs.),No,No,2,3.5,Yellow,Good,71
626,Time2Eat - Mama Chicken,1,Agra,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra Cantt,"Agra Cantt, Agra",78.011608,27.160832,North Indian,500,Indian Rupees(Rs.),No,No,2,3.6,Yellow,Good,94
627,Chokho Jeeman Marwari Jain Bhojanalya,1,Agra,"1/48, Delhi Gate, Station Road, Raja Mandi, Ci...",Civil Lines,"Civil Lines, Agra",77.998092,27.195928,Rajasthani,400,Indian Rupees(Rs.),No,No,2,4.0,Green,Very Good,87
628,Pinch Of Spice,1,Agra,"23/453, Opposite Sanjay Cinema, Wazipura Road,...",Civil Lines,"Civil Lines, Agra",78.007553,27.201725,"North Indian, Chinese, Mughlai",1000,Indian Rupees(Rs.),No,No,3,4.2,Green,Very Good,177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9271,D Cabana,1,Vizag,"Beach Road, Near Bus Stop, Sagar Nagar, Visakh...",Sagar Nagar,"Sagar Nagar, Vizag",83.361377,17.764287,"Continental, Seafood, Chinese, North Indian, B...",600,Indian Rupees(Rs.),No,No,2,3.6,Yellow,Good,193
9272,Kaloreez,1,Vizag,"Plot 95, Opposite St. Lukes Nursing School, Da...",Siripuram,"Siripuram, Vizag",0.000000,0.000000,"Cafe, North Indian, Chinese",400,Indian Rupees(Rs.),No,No,2,3.7,Yellow,Good,85
9273,Plot 17,1,Vizag,"Plot 17, Gangapur Layout, Siripuram, Vizag",Siripuram,"Siripuram, Vizag",83.315281,17.719539,"Burger, Pizza, Biryani",600,Indian Rupees(Rs.),No,No,2,4.3,Green,Very Good,172
9274,Vista - The Park,1,Vizag,"The Park, Beach Road, Pedda Waltair, Lawsons B...","The Park, Lawsons Bay","The Park, Lawsons Bay, Vizag",83.336840,17.721182,"American, North Indian, Thai, Continental",1500,Indian Rupees(Rs.),No,No,4,3.8,Yellow,Good,74
9275,Flying Spaghetti Monster,1,Vizag,"10-50-12/F2, Sai Dakshata Complex, Beside Leno...",Waltair Uplands,"Waltair Uplands, Vizag",83.314942,17.721119,Italian,1400,Indian Rupees(Rs.),No,No,3,4.4,Green,Very Good,316

In [43]:
data.drop(columns=['Currency','Restaurant Name','Country Code'],inplace=True)

In [44]:
data.columns

Index(['City', 'Address', 'Locality', 'Locality Verbose', 'Longitude',
       'Latitude', 'Cuisines', 'Average Cost for two', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating',
       'Rating color', 'Rating text', 'Votes'],
      dtype='object')

In [45]:
data['City'].nunique()

43

In [46]:
data['City'].value_counts()

New Delhi       5473
Gurgaon         1118
Noida           1080
Faridabad        251
Ghaziabad         25
Amritsar          21
Bhubaneshwar      21
Ahmedabad         21
Lucknow           21
Guwahati          21
Ludhiana          20
Mumbai            20
Kochi             20
Agra              20
Vizag             20
Surat             20
Mangalore         20
Patna             20
Bhopal            20
Indore            20
Aurangabad        20
Chennai           20
Mysore            20
Kanpur            20
Allahabad         20
Dehradun          20
Varanasi          20
Bangalore         20
Ranchi            20
Vadodara          20
Jaipur            20
Kolkata           20
Nashik            20
Puducherry        20
Pune              20
Coimbatore        20
Nagpur            20
Goa               20
Chandigarh        18
Hyderabad         18
Secunderabad       2
Panchkula          1
Mohali             1
Name: City, dtype: int64

In [47]:
data=data[data['City'].isin(['New Delhi','Gurgaon','Noida','Faridabad'])]
data['City'].value_counts()

New Delhi    5473
Gurgaon      1118
Noida        1080
Faridabad     251
Name: City, dtype: int64

In [48]:
data.shape

(7922, 15)

In [49]:
data.columns

Index(['City', 'Address', 'Locality', 'Locality Verbose', 'Longitude',
       'Latitude', 'Cuisines', 'Average Cost for two', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating',
       'Rating color', 'Rating text', 'Votes'],
      dtype='object')

In [50]:
data['Address']

865     G 25/22, Main Road, 40 Feet, Molarband Extensi...
866     11/6, Delhi Mathura Road, Near Bharat Petrol P...
867     Main 40 Feet Road, Molarband Extension, Badarp...
868     Main 40 Feet Road, Molarband Extension, Badarp...
869     Main 40 Feet Road, Molarband Extension, Badarp...
                              ...
9108              2nd Floor, Tulip Mall, Sector 48, Noida
9109    Shop 15, Near HDFC Bank, Tulip Mall, Sector 48...
9110                   G-11, Tulip Mall, Sector 48, Noida
9111    Shop 1, Tulip Mall, Near HDFC Bank, Sector 48,...
9112                    G-5, Tulip Mall, Sector 48, Noida
Name: Address, Length: 7922, dtype: object

In [51]:
data['Locality'].value_counts()

Connaught Place                                122
Rajouri Garden                                  99
Shahdara                                        87
Defence Colony                                  86
Pitampura                                       85
                                              ...
JW Marriott New Delhi                            1
Dayal Bagh                                       1
Garden of Five Senses, Saket                     1
Chhatarpur                                       1
Omaxe Celebration Mall, Sohna Road, Gurgaon      1
Name: Locality, Length: 457, dtype: int64

In [52]:
data['Locality Verbose']

865              Badarpur Border, Faridabad
866              Badarpur Border, Faridabad
867              Badarpur Border, Faridabad
868              Badarpur Border, Faridabad
869              Badarpur Border, Faridabad
                       ...
9108    Tulip Mall, Sector 48, Noida, Noida
9109    Tulip Mall, Sector 48, Noida, Noida
9110    Tulip Mall, Sector 48, Noida, Noida
9111    Tulip Mall, Sector 48, Noida, Noida
9112    Tulip Mall, Sector 48, Noida, Noida
Name: Locality Verbose, Length: 7922, dtype: object

In [53]:
data['Cuisines'].value_counts()

North Indian                                  901
North Indian, Chinese                         474
Fast Food                                     330
Chinese                                       323
North Indian, Mughlai                         313
                                             ...
Fast Food, North Indian, Chinese, Desserts      1
Nepalese, Tibetan                               1
Mithai, Beverages                               1
North Indian, Chinese, Kashmiri                 1
Italian, Continental, Cafe                      1
Name: Cuisines, Length: 1156, dtype: int64

In [54]:
avg_price=data.groupby('Cuisines').mean()['Average Cost for two'].reset_index()
avg_price

                                       Cuisines  Average Cost for two
0                                       Afghani            512.500000
1                     Afghani, Mughlai, Chinese            500.000000
2                         Afghani, North Indian            900.000000
3     Afghani, North Indian, Pakistani, Arabian            500.000000
4                                      American            666.666667
...                                         ...                   ...
1151                       Tibetan, Street Food            100.000000
1152                                    Turkish            600.000000
1153       Turkish, Arabian, Moroccan, Lebanese            400.000000
1154     Turkish, Mediterranean, Middle Eastern           2000.000000
1155                                 Vietnamese           1000.000000

[1156 rows x 2 columns]

In [55]:
data=data.merge(avg_price, on='Cuisines')
data.head(2)

,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two_x,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,Average Cost for two_y
0,Faridabad,"G 25/22, Main Road, 40 Feet, Molarband Extensi...",Badarpur Border,"Badarpur Border, Faridabad",77.306640,28.490059,"Chinese, Fast Food, Bakery",250,No,No,1,2.9,Orange,Average,4,375.0
1,New Delhi,"Shop 3, Plot 1161, Opposite Old Sabji Mandi, K...",Narela,"Narela, New Delhi",77.049525,28.806199,"Chinese, Fast Food, Bakery",500,No,No,2,0.0,White,Not rated,0,375.0

In [56]:
data.rename(columns={'Average Cost for two_y':'cuisines','Average Cost for two_x':'Target'},inplace=True)

In [57]:
data.head(2)

,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Target,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,cuisines
0,Faridabad,"G 25/22, Main Road, 40 Feet, Molarband Extensi...",Badarpur Border,"Badarpur Border, Faridabad",77.306640,28.490059,"Chinese, Fast Food, Bakery",250,No,No,1,2.9,Orange,Average,4,375.0
1,New Delhi,"Shop 3, Plot 1161, Opposite Old Sabji Mandi, K...",Narela,"Narela, New Delhi",77.049525,28.806199,"Chinese, Fast Food, Bakery",500,No,No,2,0.0,White,Not rated,0,375.0

In [58]:
data.drop(columns=['Address','Locality','Locality Verbose','Cuisines'],inplace=True)

In [59]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Target', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating',
       'Rating color', 'Rating text', 'Votes', 'cuisines'],
      dtype='object')

In [60]:
data['Has Table booking'].replace("No",0,inplace=True)
data['Has Table booking'].replace("Yes",1,inplace=True)

In [61]:
data['Has Table booking'].value_counts()

0    6876
1    1046
Name: Has Table booking, dtype: int64

In [62]:
data

,City,Longitude,Latitude,Target,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,cuisines
0,Faridabad,77.306640,28.490059,250,0,No,1,2.9,Orange,Average,4,375.000000
1,New Delhi,77.049525,28.806199,500,0,No,2,0.0,White,Not rated,0,375.000000
2,Faridabad,77.304776,28.490157,500,0,No,2,2.8,Orange,Average,16,594.303797
3,Faridabad,0.000000,0.000000,300,0,No,1,0.0,White,Not rated,0,594.303797
4,Faridabad,77.305698,28.471985,1200,1,No,3,0.0,White,Not rated,0,594.303797
...,...,...,...,...,...,...,...,...,...,...,...,...
7917,Noida,77.341021,28.585493,2500,1,No,4,2.2,Red,Poor,116,2500.000000
7918,Noida,77.364833,28.597103,200,0,No,1,3.0,Orange,Average,10,200.000000
7919,Noida,77.364833,28.597103,450,0,Yes,1,3.5,Yellow,Good,105,450.000000
7920,Noida,77.323213,28.567751,1000,1,No,3,0.0,White,Not rated,0,1000.000000
7921,Noida,77.325308,28.567150,450,0,No,1,2.0,Red,Poor,161,450.000000

In [63]:
data['Has Online delivery'].replace("No",0,inplace=True)
data['Has Online delivery'].replace("Yes",1,inplace=True)

In [64]:
data['Has Online delivery'].value_counts()

0    5609
1    2313
Name: Has Online delivery, dtype: int64

In [65]:
data['Price range'].value_counts()

1    4221
2    2583
3     814
4     304
Name: Price range, dtype: int64

In [66]:
data['Rating color'].value_counts()

Orange        3571
White         2137
Yellow        1580
Green          413
Red            178
Dark Green      43
Name: Rating color, dtype: int64

In [67]:
data['Rating text'].value_counts()

Average      3571
Not rated    2137
Good         1580
Very Good     413
Poor          178
Excellent      43
Name: Rating text, dtype: int64

In [68]:
data.corr()

,Longitude,Latitude,Target,Has Table booking,Has Online delivery,Price range,Aggregate rating,Votes,cuisines
Longitude,1.000000,0.997829,0.071752,0.059417,0.138671,0.083845,0.224523,0.071641,0.048805
Latitude,0.997829,1.000000,0.070993,0.059974,0.138488,0.083131,0.224383,0.071598,0.048014
Target,0.071752,0.070993,1.000000,0.642966,0.076953,0.847985,0.328440,0.299089,0.808274
Has Table booking,0.059417,0.059974,0.642966,1.000000,0.074300,0.658627,0.248363,0.223811,0.563860
Has Online delivery,0.138671,0.138488,0.076953,0.074300,1.000000,0.188798,0.341197,0.123734,0.063178
Price range,0.083845,0.083131,0.847985,0.658627,0.188798,1.000000,0.370212,0.325602,0.720934
Aggregate rating,0.224523,0.224383,0.328440,0.248363,0.341197,0.370212,1.000000,0.291076,0.267418
Votes,0.071641,0.071598,0.299089,0.223811,0.123734,0.325602,0.291076,1.000000,0.274963
cuisines,0.048805,0.048014,0.808274,0.563860,0.063178,0.720934,0.267418,0.274963,1.000000

In [69]:
data.drop(columns=['Has Online delivery','Rating color'],inplace=True)

In [70]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Target', 'Has Table booking',
       'Price range', 'Aggregate rating', 'Rating text', 'Votes', 'cuisines'],
      dtype='object')

In [71]:
data

,City,Longitude,Latitude,Target,Has Table booking,Price range,Aggregate rating,Rating text,Votes,cuisines
0,Faridabad,77.306640,28.490059,250,0,1,2.9,Average,4,375.000000
1,New Delhi,77.049525,28.806199,500,0,2,0.0,Not rated,0,375.000000
2,Faridabad,77.304776,28.490157,500,0,2,2.8,Average,16,594.303797
3,Faridabad,0.000000,0.000000,300,0,1,0.0,Not rated,0,594.303797
4,Faridabad,77.305698,28.471985,1200,1,3,0.0,Not rated,0,594.303797
...,...,...,...,...,...,...,...,...,...,...
7917,Noida,77.341021,28.585493,2500,1,4,2.2,Poor,116,2500.000000
7918,Noida,77.364833,28.597103,200,0,1,3.0,Average,10,200.000000
7919,Noida,77.364833,28.597103,450,0,1,3.5,Good,105,450.000000
7920,Noida,77.323213,28.567751,1000,1,3,0.0,Not rated,0,1000.000000
7921,Noida,77.325308,28.567150,450,0,1,2.0,Poor,161,450.000000

In [72]:
Y=data['Target'].values
Y.shape

(7922,)

In [73]:
input1=data.drop(columns=['Target'])
input1

,City,Longitude,Latitude,Has Table booking,Price range,Aggregate rating,Rating text,Votes,cuisines
0,Faridabad,77.306640,28.490059,0,1,2.9,Average,4,375.000000
1,New Delhi,77.049525,28.806199,0,2,0.0,Not rated,0,375.000000
2,Faridabad,77.304776,28.490157,0,2,2.8,Average,16,594.303797
3,Faridabad,0.000000,0.000000,0,1,0.0,Not rated,0,594.303797
4,Faridabad,77.305698,28.471985,1,3,0.0,Not rated,0,594.303797
...,...,...,...,...,...,...,...,...,...
7917,Noida,77.341021,28.585493,1,4,2.2,Poor,116,2500.000000
7918,Noida,77.364833,28.597103,0,1,3.0,Average,10,200.000000
7919,Noida,77.364833,28.597103,0,1,3.5,Good,105,450.000000
7920,Noida,77.323213,28.567751,1,3,0.0,Not rated,0,1000.000000
7921,Noida,77.325308,28.567150,0,1,2.0,Poor,161,450.000000

In [75]:
X=input1.iloc[:,:].values
X.shape

(7922, 9)

In [931]:
#Encoding

In [932]:
#Label Encoder
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
X[:,0]=encoder.fit_transform(X[:,0])
X[:,-3]=encoder.fit_transform(X[:,-3])

In [933]:
X[0]

array([0, 77.3066401, 28.4900591, 0, 1, 2.9, 0, 4, 375.0], dtype=object)

In [934]:
#one hot encoder
from sklearn.preprocessing import OneHotEncoder
oencoder=OneHotEncoder(categorical_features=[0])

In [935]:
X=oencoder.fit_transform(X).toarray()
X.shape

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

(7922, 12)

In [936]:
X=X[:,1:]
X.shape

(7922, 11)

In [937]:
oencoder1=OneHotEncoder(categorical_features=[-3])
X=oencoder1.fit_transform(X).toarray()
X.shape

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

(7922, 16)

In [938]:
X=np.delete(X,-3,1)
X.shape

(7922, 15)

In [939]:
from sklearn.model_selection import train_test_split

#spliting
X_train , X_test , Y_train , Y_test = train_test_split(X,Y, test_size=0.2)

In [940]:
X_train.shape

(6337, 15)

In [941]:
Y_train.shape

(6337,)

In [942]:
X_test.shape

(1585, 15)

In [943]:
Y_test.shape

(1585,)

In [944]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [945]:
Y_pred=regressor.predict(X_test)

In [946]:
Y_pred.shape

(1585,)

In [947]:
from sklearn.metrics import r2_score

In [948]:
r2_score(Y_test,Y_pred)

0.8155293543954102